

<h6 >{{section.settings.footer}}</h6>
{% assign randomTitle = section.settings.footer %} 
<script>


console.log('{{section.settings.footer}}')
</script>
{% schema %}
    {
        "name": "Coding Test",
        "settings": [
            {
                "type":"text",
                "label": "Random Title",
                "id":"footer"
            }
        ]
    }
{% endschema %}