<h6>{{section.settings.footer}}</h6>
<p>{{section.settings.description}}</p>


{% schema %}
    {
        "name": "Coding Test",
        "settings": [
            {
                "type":"text",
                "label": "Random Text",
                "id":"footer"
            }
        ]
    }
{% endschema %}