<div>

<h6>{{section.settings.footer}}</h6>
{% assign randomTitle = section.settings.footer %}
<script>
let randoTitle = {{randomTitle}}
console.log(randomTitle)
</script>


</div>
{% schema %}
    {
        "name": "Coding Test",
        "settings": [
            {
                "type":"text",
                "label": "Random Title",
                "id":"footer"
            }
        ]
    }
{% endschema %}